.stomach-region-quiz--left {
    position: relative;
    text-align: center;
    &--bg-img {
        max-width: 100%;
    }
    &--wrap{
        width:100%;
        max-width: 320px;
        display: inline-block;
        @include respond(mobile){
            max-width: 320px;
        }
    }
    @include respond(tab-port){ 
        float: left;
        width: 34%;
    }
}