.stomach-region-quiz--right {
    background:$color-grey-light;    
    padding:25px 20px; 
    position: relative;
    @include clearfix();

    @include respond(tab-port){ 
        float: right;
        width: 66%;
        height: 535px;
        padding:35px 45px; 
    }

    &__blue-bg{
        background: $intro-blue;
        position:relative;
        cursor: pointer;
    }
}