.stomach-regions {
    position: absolute;
    top:68%;
    font-size:0;
    width: 198px;
    max-width: 61.875%;
    left:50%;
    transform: translate(-50%, -50%);
    display: block;

    &--region {
        display: inline-block;
        padding: 17.65% 15.40%;      
        border: 1px solid transparent;   
        position: relative;
        cursor: pointer;
        vertical-align: top;

        &__active {
            background: rgba(0, 114, 188, 0.4);
            border: 1px solid #0071ba;
        }

        &--center{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            width: 13px;
            height: 13px;
            display: block;
            background: $region-center-dot-bg;
            border:1px solid darken($region-center-dot-bg, 40%);

            @include respond(mobile){
                width: 16px;
                height: 16px;
            }

            @include respond(tab-port){
                width: 20px;
                height: 20px;
            }
            &__complete {
                background: $region-center-dot-selected-bg;
                border:1px solid darken($region-center-dot-selected-bg, 40%);
            }
        }

        @include respond(mobile){
            padding: 17.65% 15.48%;      
        }

        &:hover,&:active,&:focus {
            background: rgba($region-hover-bg,0.4);
            border: 1px solid darken($region-hover-bg,0.4);            
        }
    }
}