.input-group {
    margin: 20px 5px;
    &__block {
        display: block;
    }
}
.input-label {
    &__block{
        display: block;
    }
}
.input{
    cursor: pointer;
    background:transparent;    
    &--select {
        border:1px solid $color-black;
        padding:5px 10px;
        background:transparent;
        border-radius:4px;        
        &__correct{
            border:1px solid $correct;      
        }
        &__incorrect{
            border:1px solid $incorrect;          
        }
    }
}
.select-wrap {
    position: relative;
    display: inline-block;
    &__correct{        
        &:after{            
            content:'\2713';
            position: absolute;
            display: block;
            right:-6px;
            top:0;
            color:$correct;
            font-weight: 700;
            font-size: 10px;
            padding: 0px 10px; 
            border-radius: 30px;
            background: $color-white;
            border: 1px solid $correct;
        }
    }
    &__incorrect{       
        &:after{
            position: absolute;
            display: block;
            right:-8px;
            top:0;
            content: "\274c";        
            color:$incorrect;
            font-weight: 700;
            font-size: 7px;
            padding: 2px 10px; 
            border-radius: 30px;
            background: $color-white;
            border: 1px solid $incorrect;    
        }
    }    
}

            