@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Open+Sans:400,600,700');

/* general */
body { color:#333; font-family:'Open Sans'; font-size:17px; line-height:27px; }
h1, h2, h3, h4, h5 { position:relative; color:#555; font-weight:600; margin:25px 0; }
h1 { font-size:40px; }
h2 { font-size:28px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
p { margin:1em 0; }
a { color:#0068A5; text-decoration:underline; cursor:pointer; }
a.btn { text-decoration:none; }
ul li { line-height:35px; }
input, textarea { padding:6px; border-radius:4px; border:1px solid #aaa;  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.25); }
input:focus { outline:none; border:1px solid #008de0; }
textarea { width:100%; }
.align-center { text-align:center; }
.align-left { text-align:left; }
.align-right { text-align:right; }
.float-left { float:left; }
.float-right { float:right; }
.activity input[type="radio"] { margin-right:10px; cursor:pointer; }
.inline-feedback { font-size:15px; font-style:italic; vertical-align: top; }

/* grid */
.col-5 { width:20%; float:left; position:relative; min-height:1px; padding-left:15px; padding-right:15px; }
@media only screen and (max-width:1200px) {

}

/* tables */
table th { background:#d9d9d9; padding:8px; font-size:20px; font-weight:600; }
table td { padding:8px; }
table.table-striped tr:nth-child(even) { background:#ffffff; }
table.table-striped tr:nth-child(odd) { background:#f7f7f7; }
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th { padding:12px; border:1px solid #ccc; vertical-align:middle; }

/* header */
.header-1 { background:url('../images/header1.jpg') 50% 50%; }
.header-2 { background:url('../images/header1.jpg') 50% 50%; }
.header-big { min-height:770px; }
.header { position:relative; background-size:cover; color:#fff; padding-left: 100px; padding-right:100px;}
.header .logo { margin:30px 0; background:url('../images/logo.png'); width:190px; height:81px; background-size:190px; }
.header h1 { color:#fff; font-size:55px; font-weight:400; margin-top:100px; margin-bottom:30px; text-shadow:1px 2px 1px #000; }
.header h2 { color:#fff; font-size:40px; font-weight:400; margin-bottom:10px; text-shadow:1px 2px 1px #000; }
.header h3 { color:#fff; font-size:40px; font-weight:400; margin-top:0; margin-bottom:30px; }
.header p  { color:#fff; font-size:18px; max-width:600px; text-shadow:1px 2px 1px #000; }
.header .arrow-down { position:absolute; left:0; right:0; bottom:30px; background:url('../images/icons/arrow_down.svg'); width:70px; height:70px; background-size:70px; margin:auto; cursor:pointer; }
@media only screen and (max-width:1200px) {
.header .arrow-down { display:none; }
}

/* footer */
.footer-bg { padding: 50px; background: url(../../images/footer.png) no-repeat center; background-size: 100% auto; }
.footer blockquote { color: white; text-shadow: 1px 2px 1px #000; text-align: center; margin: 0; border: none; }

/* icons for titles */
.title-icon { padding-left:55px; }
h1.title-icon:before { top:3px; }
h2.title-icon:before { top:-4px; }
h3.title-icon:before { top:-6px; }
h4.title-icon:before { top:-5px; height: 30px; }
h5.title-icon:before { top:-3px; height:26px; }
h6.title-icon:before { top:-13px;}
.title-icon:before  { content:""; display:block; width:40px; height:40px; position:absolute; left:0; background-repeat:no-repeat; }
.activity:before    { background-image:url('../images/icons/activity.svg'); }
.assessment:before  { background-image:url('../images/icons/assessment.svg'); }
.discussion:before  { background-image:url('../images/icons/discussion.svg'); }
.download:before    { background-image:url('../images/icons/download.svg'); }
.groupwork:before   { background-image:url('../images/icons/groupwork.svg'); }
.link:before        { background-image:url('../images/icons/link.svg'); }
.quiz:before        { background-image:url('../images/icons/quiz.svg'); }
.reading:before     { background-image:url('../images/icons/reading.svg'); }
.reflection:before  { background-image:url('../images/icons/reflection.svg'); }
.summary:before     { background-image:url('../images/icons/summary.svg'); }
.recording:before   { background-image:url('../images/icons/recording.svg'); }
.video:before       { background-image:url('../images/icons/video.svg'); }
.casestudy:before       { background-image:url('../images/icons/casestudy.svg'); }
.tip:before       { background-image:url('../images/icons/idea.svg'); }
.tools:before       { background-image:url('../images/icons/tools.svg'); }
.casefile:before       { background-image:url('../images/icons/casefile.svg'); }
.focus:before       { background-image:url('../images/icons/focus.svg'); }
.news:before       { background-image:url('../images/icons/news.svg'); }
.jigsaw:before       { background-image:url('../images/icons/jigsaw.svg'); }
.humanfocus:before       { background-image:url('../images/icons/humanfocus.svg'); }
.abacus:before       { background-image:url('../images/icons/abacus.svg'); }
.graphfocus:before       { background-image:url('../images/icons/graphfocus.svg'); }
.graph:before       { background-image:url('../images/icons/graph.svg'); }
.hosting:before       { background-image:url('../images/icons/hosting.svg'); }
.server:before       { background-image:url('../images/icons/server.svg'); }
.point:before       { background-image:url('../images/icons/point.svg'); }
.cloud:before       { background-image:url('../images/icons/cloud.svg'); }
.clinical:before       { background-image:url('../images/icons/clinical.svg'); }

/* icons */
.icon { border:2px solid #ddd; border-radius:50%; width:100px; height:100px; background-size:100px; margin:auto; }
.icon-activity    { background:url('../images/icons/activity.svg'); }
.icon-assessment  { background:url('../images/icons/assessment.svg'); }
.icon-discussion  { background:url('../images/icons/discussion.svg'); }
.icon-download    { background:url('../images/icons/download.svg'); }
.icon-groupwork   { background:url('../images/icons/groupwork.svg'); }
.icon-link        { background:url('../images/icons/link.svg'); }
.icon-quiz        { background:url('../images/icons/quiz.svg'); }
.icon-reading     { background:url('../images/icons/reading.svg'); }
.icon-reflection  { background:url('../images/icons/reflection.svg'); }
.icon-summary     { background:url('../images/icons/summary.svg'); }
.icon-recording   { background:url('../images/icons/recording.svg'); }
.icon-video       { background:url('../images/icons/video.svg'); }
.icon-casestudy   { background-image:url('../images/icons/casestudy.svg'); }
.icon-tip   { background-image:url('../images/icons/idea.svg'); }
.icon-tools   { background-image:url('../images/icons/tools.svg'); }
.icon-casefile   { background-image:url('../images/icons/casefile.svg'); }
.icon-focus   { background-image:url('../images/icons/focus.svg'); }
.icon-news   { background-image:url('../images/icons/news.svg'); }
.icon-jigsaw   { background-image:url('../images/icons/jigsaw.svg'); }
.icon-humanfocus   { background-image:url('../images/icons/humanfocus.svg'); }
.icon-abacus   { background-image:url('../images/icons/abacus.svg'); }
.icon-graphfocus   { background-image:url('../images/icons/graphfocus.svg'); }
.icon-graph   { background-image:url('../images/icons/graph.svg'); }
.icon-hosting   { background-image:url('../images/icons/hosting.svg'); }
.icon-server   { background-image:url('../images/icons/server.svg'); }
.icon-point   { background-image:url('../images/icons/point.svg'); }
.icon-cloud  { background-image:url('../images/icons/cloud.svg'); }
.icon-clinical  { background-image:url('../images/icons/clinical.svg'); }


/* section */
.section { padding:60px 0; }
.section h1:first-child, .section h2:first-child, .section h3:first-child, .section h4:first-child { margin-top:0; }

/* bg-colors */
.gray, .grey { background:#f4f4f4; }

/* learning-objects */
.learning-object { background:#fff; font-size:17px; color:#666; font-weight:300; line-height:initial; margin-top:50px; padding:30px; border-radius:6px; box-shadow:0 0 6px #aaa; }
.learning-object .number { background:#fff; width:80px; height:80px; font-size:40px; text-align:center; padding-top:10px; margin:-70px auto 25px; border-radius:50%; box-shadow:0 0 6px #aaa; }
.learning-object-vertical { margin:20px 0; font-size:20px; line-height:initial; }
.learning-object-vertical .number { background:#fff; width:68px; height:68px; font-size:36px; font-weight:600; text-align:center; padding-top:8px; margin-right:20px; border-radius:50%; box-shadow:0 0 6px #aaa;   }

/* reading */
.reading-grey { background:#f4f4f4; font-size:17px; color:#666; font-weight:300; line-height:24px; padding:30px; border-radius:4px; border: solid 1px #f4f4f4; }
.reading-white { background:#fff; font-size:17px; color:#666; font-weight:300; line-height:24px; padding:30px; border-radius:4px; border: solid 1px #f4f4f4; }

/* video */
.video-wrapper { position:relative; padding-bottom:56.25%; height:0; }
.video-wrapper iframe { position:absolute; top:0; left:0; width:100%; height:100%; }

/* math */
.equation-1 { background:#f4f3eb; font-size:24px; padding:10px; }
.mathjax { font-size:18px; margin:-11px 0; display:inline-block; }
span.mathjax { font-size:16px; }
.formula { font-family:'Times new roman'; font-size:20px; font-style:italic; margin:20px auto; font-weight: 600; letter-spacing:1.4px; }
.input-small { width:100px; margin-right:10px; }
.coefficients { font-style:normal; cursor:pointer; }
.coefficients:hover, .coefficients-highlight { color:#00a3da; }
.variables:hover, .variables-highlight { color:#d8222b; cursor:pointer; }

/* click reveal */
.reveal-content { background:#f1f1f1; padding:20px; margin:20px 0; }

/* accordion */
.acc-title { background:#f5f5f5; margin:5px 0; padding:10px 15px; border-radius:4px; border:1px solid #ddd; cursor:pointer; }
.acc-title span { width:80%; display:inline-block; }
.acc-title i { float:right; font-size:24px; }
.acc-content { padding:20px; border:1px solid #ddd; border-radius:4px; }

/* tabs */
.nav-tabs a { text-decoration:none; }
.tab-content { border:1px solid #ddd; margin-top:-2px; padding:20px;  border-radius:4px; }
.tab-feedback { background:#f5f5f5; padding:20px; border:1px solid #ddd; margin:21px -21px -21px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; }

/*** For mobile view **/
@media screen and (max-width: 479px) {
  .nav-tabs > li {

    width: 100%;
  }
  .nav-tabs > li > a {
   text-align: center;
  }
  .nav-tabs > li.active {
    width: 100%;

  }
  .nav-tabs > li.active a{
  border: 1px solid #ddd;

  }
}
/* panels */
.panel-heading { font-size:20px; font-weight:600; }
.panel-pagination { float:right; }
.panel-pagination i { float:left; color:#a4aaad; font-size:26px; margin:0 8px; font-size:27px; }
.panel-pagination-number { float:left; }
.panel-next-btn, .panel-prev-btn { cursor:pointer; }


/* buttons */
.btn { background:#0068A5; color:#fff; font-size:16px; padding:10px 30px; }
.btn:hover, .btn:focus { background:#008de0; color:#fff; border-radius:4px; outline:none; }
/*** disabled button to indicate quiz complete ***/
.panel-quiz-complete{
  background-color: #ccc;
}
/* pagination */
.prev-page, .next-page { margin:30px 0; user-select:none; }

/* font size */
.font-small { font-size:20px; }
.font-medium { font-size:30px; }
.font-large { font-size:50px; }

/* tooltip */
.tool-tip-text { position:relative; max-width:400px; margin:auto; border:2px solid #ccc; border-radius:8px; padding:0; }
.tool-tip-text h4 { background:#f1f1f1; font-weight:700; padding:15px 20px; margin:0; border-top-left-radius:8px; border-top-right-radius:8px;  }
.tool-tip-text label  { padding:20px; font-weight:400; }
.close-tool-tip { position:absolute; top:-10px; right:-14px; background:#ccc; padding:3px; border-radius:50%; width:30px; height:30px; color:#fff; text-align:center; font-weight:700; cursor:pointer; z-index: 100; }

/* OLD dragndrop */
.dragdrop-activity { cursor: auto; }
.inline-dropbox { min-width:100px; padding:4px; min-height:35px; margin:5px 0; border-radius:4px; border:1px solid #aaa; box-shadow:inset 0 1px 3px 0 rgba(0,0,0,0.25); display:inline-block; user-select:none; }
.block-dropbox { min-height:150px; padding:6px; border-radius:4px; border:1px solid #aaa; box-shadow:inset 0 1px 3px 0 rgba(0,0,0,0.25); user-select:none; }
.dropped { border:1px solid #0068A5; color:#0068A5; border-radius:4px; margin:2px 4px; padding:6px 12px; display:inline-block; }
.dragged { border:1px solid #ccc; color:#ccc; cursor:default; }

/* dragndrop with mixnmatch */
.dd1-dragbox,
.dd1-dropbox,
.dragbox,
.dropbox {
  border:1px solid #0068A5;
  color:#0068A5;
  display:inline-block;
  font-size: 16px;
  line-height: 27px;
  border-radius: 4px;
  padding: 8px;
  min-height: 35px;
  margin: 5px 0;
  padding:6px 12px;
  user-select: none;
}

.mixmatch .dd1-dropbox > .dd1-dragbox {
  margin: 0;
  display: inline;
  padding: 0;
  border: none;
  position: static;
}

.mixmatch .dd1-dropbox.incorrect {
  color: #cc3333;
  border: 1px solid #cc3333;
}
.mixmatch .dd1-dropbox.correct {
  color: #009933;
  border: 1px solid #009933;
}
.mixmatch .dd1-dropbox.revealed {
  font-weight: bold;
  border: 1px solid #0068A5;
}
.mixmatch .dd1-dropbox.incorrect > .dd1-dragbox {
  color: #cc3333;
}
.mixmatch .dd1-dropbox.correct > .dd1-dragbox {
  color: #009933;
}
.mixmatch .dd1-dropbox.revealed > .dd1-dragbox {
  font-weight: bold;
}
.mixmatch .dd1-dropbox.correct::after {
  content: '\f05d';
}
.mixmatch .dd1-dropbox.incorrect::after {
  content: '\f05c';
}
.mixmatch .dd1-dropbox.correct::after,
.mixmatch .dd1-dropbox.incorrect::after {
  font-family: 'FontAwesome';
  width: auto;
  font-size: 25px;
  line-height: 1;
  display: block;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 1px;
  background: white;
}

.dragbox {
  min-height: 12px;
  cursor: move;
}

.dropbox {
  min-height: 260px;
}

.dropbox>.dragbox {
  border: none;
  padding: 0;
  margin: 5px;
  line-height: 1;
}

.dropbox>.dragbox:not(:last-child)::after {
  content: ', ';
}

.dd1-dragbox {
  border: 1px solid #0068A5;
  cursor: move;
  width: 100%;
}

.dd1-dropbox,
.dropbox {
  position: relative;
  width: 100%;
  border: 1px solid #aaa;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.25);
  align-items: center;
}

.dd1-desc {
  background: #ddd;
  margin: 5px 0;
  padding: 8px 12px;
  color: #333;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

.dd1-submit,
.dd1-retry,
.dd1-answer,
.dd-check,
.dd-answer,
.dd-retry,
.dd-reset {
  background: #0068A5;
  color: #fff;
  font-size: 16px;
  padding: 12px 36px;
  margin: 5px 0;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}

.dd1-submit:hover,
.dd1-submit:focus,
.dd1-retry:hover,
.dd1-answer:hover,
.dd1-answer:focus,
.dd1-retry:focus {
  background: #008de0;
  outline: none;
}

.dd1-score {
  color: #333;
  font-size: 25px;
  font-weight: 700;
  padding: 16px 0;
  margin: 5px 0;
}

.dd1-table {
  margin: 20px 0;
}

.dd1-table label {
  background: #ebe4ca;
  color: #666;
  padding: 10px;
  margin: 10px 0;
  font-weight: 700;
  font-size: 22px;
  display: inline-block;
}

.dd1-table span {
  background: #eee;
  padding: 10px;
  margin: 5px 0;
  display: block;
}

.a-dropped {
  width: auto !important;
  height: auto !important;
}

.dragbox.cat-b,
.dragbox.cat-a {
  margin: 10px 4px
}

.dropbox-text {
  text-align: center;
  color: gray;
}

span.wrong,
span.right {
  position: absolute;
  top: 5px;
  right: 3px;
  padding: 0;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 15px;
  line-height: 1.9;
  color: white;
  z-index: 500;
}

span.right {
  background: rgb(0, 153, 51);
}

span.wrong {
  background: rgb(204, 51, 51);
}

.answer-icon{ position: absolute; top: -10px; right: -10px; }
.answer-icon.fa-check-circle-o{ color: #009933; }
.answer-icon.fa-times-circle-o{ color: #cc3333; }
.mixmatch .answer-icon{ font-size: 25px; background: #fff; }
.dragndrop .correct-answer{ color: rgb(0, 153, 51); font-weight: bold; }
.dragndrop .incorrect-answer{ color: rgb(204, 51, 51); text-decoration: line-through; }

/* quiz */
.quiz-check, .quiz-check-retry, .dragndrop-check, .try-again { margin-top:20px; text-decoration:none; }
.panel-footer h1, .panel-footer h2, .panel-footer h3, .panel-footer h4 { margin-top:10px !important; }
.activity input[type="radio"] { margin-right:10px; cursor:pointer; }
.inline-feedback { padding-left:20px; font-size:15px; font-style:italic; color:#17A748; }
.incorrect-feedback .align-right .btn { margin:8px 4px; }
.correct-feedback .align-right .btn { margin:8px 16px; }

/* fill in the blanks */
.input-correct { color:#2caf58; }
.input-incorrect { color:#d81e4b; }

.quiz-scale .question { margin:40px 0; padding:10px 20px 0px; }
.quiz-scale-title { color:#0068A5; font-size:16px; border:1px solid #0068A5; border-radius:4px; padding:8px; text-align:center;  }
.quiz-scale-number { font:700 16px 'Open Sans';  width:50px; height:50px; background:#fff; color:#0068A5; border:2px solid #0068a5; border-radius:50%; text-align:center; padding-top:13px; margin:auto; cursor:pointer;  }
.quiz-scale-number:hover, .quiz-scale .current { background:#0068A5; color:#fff; }
.quiz-scale input[type="radio"] { display:none; }

/* form */
input[type="radio"], input[type="checkbox"] { box-shadow:none; }

/* flipcards */
.flipcard { width:100%; height:300px; display:inline-block; position:relative; cursor:pointer; margin:20px 0; font-size:16px; transform:perspective(400px); }
.flipcard-front {position:absolute;top:0;left:0;width:100%;height:100%; padding:20px; color:#fff; background-color:#0068a5; transform:perspective(400px) rotateX(0deg);backface-visibility:hidden; transition:1.0s; opacity:1; border-radius:6px; }
.flipcard-front h1, .flipcard-front h2, .flipcard-front h3, .flipcard-front h4, .flipcard-front h5 { color:#fff; }
.flipcard-back { position:absolute; top:0; left:0; width:100%; height:100%; padding:20px; background-color:#e1e1e1; color:#666; transform:perspective(400px) rotateX(-180deg); backface-visibility:hidden; transition:1.0s; opacity:0; border-radius:6px; }
.flip-front { opacity:0; transform:perspective(400px) rotateX(180deg); }
.flip-back { opacity:1; transform: perspective(400px) rotateX(0deg); }

/* box reveal */
.box-reveal-content { padding-bottom:30px; }
.box-reveal-content > div { position:relative; background:#fff; border:1px solid #ddd; margin-top:-1px; padding:20px 20px 30px; box-shadow:0 1px 1px rgba(0,0,0,.05); }
.box-reveal-content > div .btn { position:absolute; bottom:-22px; right:15px; z-index:90; }
.box-reveal-content .box-top { z-index:80; }
.box-reveal-content .box-bottom { background:#f5f5f5; z-index:70; }
.box-reveal-content .box-top-heading { position:absolute; left:0; right:0; bottom:0; background:rgba(0,0,0,0.7); color:#fff; padding:10px 10px 30px; }

/* syntax highlighting */
pre { margin:20px 0 !important; background-color:#EFEDDD!important; border-color: #DCD8BD!important;  }

#coefficients { border:2px solid #00a3da; }
#coefficients .close-tool-tip { background:#00a3da; }
#variables { border:2px solid #d8222b; }
#variables .close-tool-tip { background:#d8222b; }

/*.tool-tip-text::after { content:""; position:absolute; width:0; height:0; border-style:solid; border-width:0 12px 15px 12px; border-color:transparent transparent #00a3da transparent; top:-15px; left:0; right:0; margin:auto;   } */



/* image caption */
.image-caption{ color: rgba(0,0,0,0.65);  font-size: 15px;  font-style:italic; margin-top:10px; line-height: 29px; text-align: center; }

.swiper-container { width: 100%; height: 300px; min-height:80vh; }
.swiper-slide { text-align: center; font-size: 18px; background: #fff; height:80vh; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-pack:center; -ms-flex-pack:center; -webkit-justify-content:center; justify-content:center; -webkit-box-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center;  }
.swiper-caption-box { position:absolute; bottom:0; left:0; right:0; background:rgba(0,104,165,0.8); padding:1em 0 2.5em; color:#fff; }
.swiper-caption { margin:auto; text-align: left;}
.swiper-container img { width:100%; height:100vh; }
.swiper-container a { color:#ddd; }
.swiper-pagination-bullet.swiper-pagination-bullet-active { background:#fff; opacity:1; }
.swiper-pagination-bullet { opacity:0.5; }
.swiper-button-next { background-image:url('../images/arrow-right.png'); width:64px; height:64px; background-size:64px; }
.swiper-button-prev { background-image:url('../images/arrow-left.png'); width:64px; height:64px; background-size:64px; }


/**For console like fonts   consolas*/
.consolas{
  font-family: 'Anonymous Pro', monospace;
}

/* for images with figure-class */
@media screen and (max-width: 999px) {

  .figure-img{
    width:70%;

  }
}
@media screen and (max-width: 479px) {
  .figure-img{
    width: 100%;

  }
}

@media (min-width: 1200px) {
.container {
    width: 960px;
}}
@media (min-width: 992px) {
.container {
    width: 950px;
}}
@media (min-width: 768px) {
.container {
    width: 950px;
}}